@model Merlin.Models.OverviewViewModel


<div class="jumbotron">
    <h1>Måledata for trafikk</h1>
    <p class="lead"></p>
    @Html.LabelFor(x => x.MeasurementPoints)
    <br/>
    @Html.DropDownListFor(x => x.MeasurementPoints, new SelectList(Model.MeasurementPoints), new { id = "measurePoint", @class = "measurePoints", style="width: 30%"})
    <br />
    @Html.LabelFor(x => x.MinuteIntervals)
    <br />
    @Html.DropDownListFor(x => x.MinuteIntervals, new SelectList(Model.MinuteIntervals), new { id = "minuteInterval", @class = "test" })
    <br />
    <p style="margin: 20px 0 20px 0">
        <a class="btn btn-primary btn-lg" id="fetcher">Hent</a>
    </p>
    <div id="dvCategoryResults">
    </div>
</div>

@section Scripts{
   <script type="text/javascript">

       $(document).ready(function () {
           $(".measurePoints").select2();
        $("#fetcher").click(function () {
            var minuteInterval = $("#minuteInterval").val();
            var measurePoint = $("#measurePoint").val();
            $("#dvCategoryResults").load('@(Url.Action("GetResult","Overview",null, Request.Url.Scheme))?measurePoint='+ measurePoint + '&minutesAgo=' + minuteInterval);
        });
    });
</script>  
}

